<html>
<head></head>
<body>
<form action='/result' method='POST'>
<label>Mr. X</label>
<label>Teaching Skills</label>
<input type='hidden' value='Mr.X' name='name'>
<input type="radio" name='sk' value="0"> 0
<input type="radio" name='sk' value="1"> 1
<input type="radio" name='sk' value="2"> 2<br>
<label>Comment: </label>
<input type='text' name='comment'><br>
<input type='submit'>
</form>
</body>
</html>